@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #4eff00;
}
em {
    animation: blinker 1s linear infinite;
    font-style: normal;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
iframe {
    display: block;
    border: 0;
    width: 44rem;
    max-width: 100%;
    height: 35rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 100%;
}
.granulat_frame {
    max-width: 66rem;
    margin: auto;
    overflow: hidden;
}
p {
    padding-left: 100%;
    animation-name: scrolly;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    white-space: nowrap;
    display: inline-block;
}
@keyframes scrolly {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%,0); }
}
.card {
    width: 26rem;
    max-width: 95vw;
    margin: 0.5rem;
    padding: 0.5rem;
    background: grey;
    border-radius: 2rem;
    display: inline-block;
    border-width: 2rem;
    border-style: ridge;
}
.card div {
    padding: 0.5rem;
}
hr {
    border-width: 1rem;
}
